*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, Helvetica, sans-serif;
}

body{
	height: 100vh;
	background-color: #EFF4F5;
	background-image: linear-gradient(blue, cyan);
	background-repeat: no-repeat;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px auto;
	width: 405px;
}

.topo{
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.topo h1{
	font-size: 2.5rem;
	font-weight: bold;
	color: #FFD03E;
	text-shadow: 2px 4px 3px #167624;
}

.topo img{
	margin-left: 50px;
}


.toolbar{
	padding: 5px;
	background-color: lightgray;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 352px;
	height: 89px;
	border: 1px solid darkgray;
}

#grade{
	width: 352px;
	height: 352px;
	display: grid;
	grid-template-columns: repeat(22, auto);background-color: #fff;
}

.caixa{
	width: 16px;
	height: 16px;
	border: 1px solid darkgray;
}

#btnLimpa{
	width: 70px;
	height: 30px;
}

input[type=color] {
	width: 35px;
}

option{
	text-align: center;
}

@media (max-width: 430px) {
	.caixa{
		width: 15.4px;
		height: 15.4px;
	}
	#grade{
		width: 340px;
		height: 288px;
	}
	.toolbar{
		width: 340px;
	}
	.container{
		width: 340px;
	}
}

@media (max-width: 330px) {
	.caixa{
		width: 14px;
		height: 14px;
	}
	#grade{
		width: 300px;
		height: 255px;
	}
	.toolbar{
		width: 300px;
	}
	.container{
		width: 300px;
	}
}