*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, Helvetica, sans-serif;
}

body{
	height: 100vh;
	background-color: #EFF4F5;
	/*background-image: linear-gradient(blue, cyan);
	background-repeat: no-repeat;*/
}

.container{
	display: flex;
	flex-direction: column;
	margin: 10px auto;
	width: 402px;
}

.toolbar{
	padding: 5px;
	background-color: lightgray;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 360px;
	height: 92px;
}

#grade{
	border: 1px solid red;
	width: 362px;
	height: 307px;
	display: grid;
	grid-template-columns: repeat(20, auto);
}

.caixa{
	width: 18px;
	height: 18px;
	border: 1px solid darkgray;
	border-radius: 5px;
}

#btnLimpa{
	width: 70px;
	height: 30px;
}

input[type=color] {
	width: 35px;
}

option{
	text-align: center;
}

.tool #cliqueMouse{
	width: 80px;
}